# Data Wrangling

In [1]:
#Import Statment
import mysql.connector as connection
import numpy as np
import pandas as pd

## Import tables from MySQL to pandas' dataframes

In [2]:
mydb = connection.connect(host='ttfprojectdb.cdjjwxlk5ujc.eu-central-1.rds.amazonaws.com',
                        database='database-data-science-project-its-ttf-2022-23',
                        user='edoardo',
                        password='PG8Io90EcKBVEg2iKLgi')
query_fermate = "Select * from fermate_metro_milano;"
df_fermate_milano = pd.read_sql(query_fermate,mydb)
query_ferrovie = "Select * from ferrovie_milano"
df_ferrovie_milano = pd.read_sql(query_ferrovie,mydb)
query_mezzi_urbani = "Select * from mezzi_urbani"
df_mezzi_urbani = pd.read_sql(query_mezzi_urbani,mydb)
query_percorsi_metro = "Select * from percorsi_metro_milano"
df_percorsi_metro_milano = pd.read_sql(query_percorsi_metro,mydb)
query_stazioni_bikemi = "Select * from stazioni_bikemi"
df_bikemi = pd.read_sql(query_stazioni_bikemi,mydb)
query_sosta_bike = "Select * from sosta_bike"
df_sosta_bike = pd.read_sql(query_sosta_bike,mydb)
query_parcheggi_pub = "Select * from parcheggi_pubblici"
df_parcheggi_pub = pd.read_sql(query_parcheggi_pub,mydb)
query_parcheggi_intrscambio = "Select * from parcheggi_interscambio"
df_parcheggi_inter = pd.read_sql(query_parcheggi_intrscambio,mydb)
query_scuole_secondarie_milano = "Select * from scuole_secondarie_milano"
df_scuole_secondarie = pd.read_sql(query_scuole_secondarie_milano,mydb)
query_scuole_primarie_milano = "Select * from scuole_primarie_milano"
df_scuol_primarie = pd.read_sql(query_scuole_primarie_milano,mydb)
query_scuole_infanzia_milano = "Select * from scuole_infanzia_milano"
df_scuole_infanzia = pd.read_sql(query_scuole_infanzia_milano,mydb)
query_ospedali_milano = "select * from ospedali_milano"
df_ospedali_milano = pd.read_sql(query_ospedali_milano,mydb)
query_svago_milano = "select * from svago_milano"
df_svago_milano =  pd.read_sql(query_svago_milano,mydb)

mydb.close() #close the connection

C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Cleaning and Prepping the data for the Clustering

### Hospital

In [3]:
#Filtering to get only the data for Milan
df_ospedali_milano = df_ospedali_milano[df_ospedali_milano.LOCALITA == "MILANO"]
df_ospedali_milano

,ID,DENOM_STRUTTURA,INDIRIZZO,CAP,LOCALITA
5,6,OSPEDALE S. PAOLO - MILANO,VIA A. DI RUDINI' 8,20142,MILANO
16,17,ISTITUTO ORTOPEDICO GAETANO PINI - MILANO,PIAZZA A. CARDINAL FERRARI 1,20122,MILANO
19,20,OSPEDALE L. SACCO - MILANO,VIA GIOVAN BATTISTA GRASSI 74,20157,MILANO
24,25,FONDAZ.IRCCS CA' GRANDA - OSPEDALE MAGGIORE PO...,VIA FRANCESCO SFORZA 28,20122,MILANO
44,45,"""FOND.IRCCS """"ISTIT.NAZ.LE TUMORI""""MILANO""",VIA VENEZIAN 1,20133,MILANO
49,50,OSPEDALE FATEBENEFRATELLI E OFTALMICO - MILANO,PIAZZA PRINCIPESSA CLOTILDE 3,20121,MILANO
58,59,FOND.IRCCS IST.NAZ.NEUROLOGICO C.BESTA-MILANO,VIA CELORIA 11,20133,MILANO
64,65,OSPEDALE S. CARLO BORROMEO - MILANO,VIA PIO II 3,20153,MILANO
75,76,OSPEDALE CA' GRANDA-NIGUARDA - MILANO,PIAZZA OSPEDALE MAGGIORE 3,20162,MILANO
78,79,P.O. CENTRO TRAUMATOLOGICO ORTOPEDICO - MILANO,VIA BIGNAMI 1,20126,MILANO
83,84,PRESIDIO OSPED. V. BUZZI - MILANO,VIA CASTELVETRO 32,20154,MILANO
90,91,OSPEDALE M. MELLONI - MILANO,VIA MACEDONIO MELLONI 52,20129,MILANO

We need to add the lati and long to the data

In [4]:
Xlocation = [45.434434224802374, 45.45502231363184, 45.519052444626695, 45.45899971302602, 
             45.474744262235824, 45.478247350543796, 45.47845013153815, 45.4695588314831, 
             45.51041400570228, 45.525862594524824, 45.491441001265905, 45.466274466033695]

Ylocation = [9.160272740334113, 9.19358879013831,  9.122691755211346, 9.1949594687018, 
             9.232133395688374, 9.190623211031243, 9.23031347608294, 9.11421265520928, 
             9.187337988230386, 9.214076602544718, 9.167446384259028, 9.219088797537811]

In [ ]:
df_ospedali_milano['Xlocation'] = Xlocation
df_ospedali_milano['Ylocation'] = Ylocation
df_ospedali_milano_mod = df_ospedali_milano.drop(['ID','LOCALITA', 'CAP', 'DENOM_STRUTTURA', 'INDIRIZZO'], axis=1)

Now we prep the data for the clustering

In [10]:
df_ospedali_milano_mod['Type'] = 'Ospedale'

In [11]:
df_ospedali_milano_mod

    Xlocation  Ylocation      Type
5   45.434434   9.160273  Ospedale
16  45.455022   9.193589  Ospedale
19  45.519052   9.122692  Ospedale
24  45.459000   9.194959  Ospedale
44  45.474744   9.232133  Ospedale
49  45.478247   9.190623  Ospedale
58  45.478450   9.230313  Ospedale
64  45.469559   9.114213  Ospedale
75  45.510414   9.187338  Ospedale
78  45.525863   9.214077  Ospedale
83  45.491441   9.167446  Ospedale
90  45.466274   9.219089  Ospedale

### Subway stations

In [12]:
df_fermate_milano

     id_amat                      nome       LONG_X_4326        LAT_Y_4326
0        889                 TRE TORRI  9.15667532734003  45.4781401846813
1        890                      ZARA   9.1926011078845  45.4926644010357
2        891                    WAGNER  9.15591440789603  45.4679501010405
3        892                 VIMODRONE  9.28598910784986  45.5157833010269
4        893                VILLA S.G.  9.22613020787426   45.517454501031
..       ...                       ...               ...               ...
105      995  ASSAGO MILANOFIORI FORUM  9.14553880789143  45.4017485010472
106      996                  AMENDOLA  9.15096930789879  45.4736789010404
107      997                 AFFORI FN   9.1682516078982  45.5216818010349
108      998             AFFORI CENTRO   9.1739799078948  45.5135543010351
109      999             ABBIATEGRASSO  9.17732280788234  45.4299949010423

[110 rows x 4 columns]