# Data Wrangling

In [1]:
#Import Statment
import mysql.connector as connection
import numpy as np
import pandas as pd

In [2]:
mydb = connection.connect(host='ttfprojectdb.cdjjwxlk5ujc.eu-central-1.rds.amazonaws.com',
                        database='database-data-science-project-its-ttf-2022-23',
                        user='edoardo',
                        password='PG8Io90EcKBVEg2iKLgi')
query_fermate = "Select * from fermate_metro_milano;"
df_fermate_milano = pd.read_sql(query_fermate,mydb)

c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(