# Data Wrangling

In [8]:
#Import Statment
import mysql.connector as connection
import numpy as np
import pandas as pd

In [9]:
mydb = connection.connect(host='ttfprojectdb.cdjjwxlk5ujc.eu-central-1.rds.amazonaws.com',
                        database='database-data-science-project-its-ttf-2022-23',
                        user='edoardo',
                        password='PG8Io90EcKBVEg2iKLgi')
query_fermate = "Select * from fermate_metro_milano;"
df_fermate_milano = pd.read_sql(query_fermate,mydb)
query_ferrovie = "Select * from ferrovie_milano"
df_ferrovie_milano = pd.read_sql(query_ferrovie,mydb)
query_mezzi_urbani = "Select * from mezzi_urbani"
df_mezzi_urbani = pd.read_sql(query_mezzi_urbani,mydb)
query_percorsi_metro = "Select * from percorsi_metro_milano"
df_percorsi_metro_milano = pd.read_sql(query_percorsi_metro,mydb)
query_stazioni_bikemi = "Select * from stazioni_bikemi"
df_bikemi = pd.read_sql(query_stazioni_bikemi,mydb)
query_sosta_bike = "Select * from sosta_bike"
df_sosta_bike = pd.read_sql(query_sosta_bike,mydb)
query_parcheggi_pub = "Select * from parcheggi_pubblici"
df_parcheggi_pub = pd.read_sql(query_parcheggi_pub,mydb)

mydb.close() #close the connection

C:\Users\edoar\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
df_fermate_milano

     id_amat                      nome       LONG_X_4326        LAT_Y_4326
0        889                 TRE TORRI  9.15667532734003  45.4781401846813
1        890                      ZARA   9.1926011078845  45.4926644010357
2        891                    WAGNER  9.15591440789603  45.4679501010405
3        892                 VIMODRONE  9.28598910784986  45.5157833010269
4        893                VILLA S.G.  9.22613020787426   45.517454501031
..       ...                       ...               ...               ...
105      995  ASSAGO MILANOFIORI FORUM  9.14553880789143  45.4017485010472
106      996                  AMENDOLA  9.15096930789879  45.4736789010404
107      997                 AFFORI FN   9.1682516078982  45.5216818010349
108      998             AFFORI CENTRO   9.1739799078948  45.5135543010351
109      999             ABBIATEGRASSO  9.17732280788234  45.4299949010423

[110 rows x 4 columns]