<a href="https://colab.research.google.com/github/EdoPassa/Data_Science_Project_ITS_TTF_2022-23/blob/main/Data%20Mining/dsProject/Data_Mining_Milano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling

In [ ]:
pip install

In [1]:
#Import Statment
import mysql.connector as connection
import numpy as np

ModuleNotFoundError: ignored

## Import tables from MySQL to pandas' dataframes

In [ ]:
mydb = connection.connect(host='ttfprojectdb.cdjjwxlk5ujc.eu-central-1.rds.amazonaws.com',
                        database='database-data-science-project-its-ttf-2022-23',
                        user='edoardo',
                        password='PG8Io90EcKBVEg2iKLgi')
query_fermate = "Select * from fermate_metro_milano;"
df_fermate_milano = pd.read_sql(query_fermate,mydb)

query_ferrovie = "Select * from ferrovie_milano"
df_ferrovie_milano = pd.read_sql(query_ferrovie,mydb)

query_mezzi_urbani = "Select * from mezzi_urbani"
df_mezzi_urbani = pd.read_sql(query_mezzi_urbani,mydb)

query_percorsi_metro = "Select * from percorsi_metro_milano"
df_percorsi_metro_milano = pd.read_sql(query_percorsi_metro,mydb)

query_stazioni_bikemi = "Select * from stazioni_bikemi"
df_bikemi = pd.read_sql(query_stazioni_bikemi,mydb)

query_sosta_bike = "Select * from sosta_bike"
df_sosta_bike = pd.read_sql(query_sosta_bike,mydb)

query_parcheggi_pub = "Select * from parcheggi_pubblici"
df_parcheggi_pub = pd.read_sql(query_parcheggi_pub,mydb)
query_parcheggi_intrscambio = "Select * from parcheggi_interscambio"
df_parcheggi_inter = pd.read_sql(query_parcheggi_intrscambio,mydb)
query_scuole_secondarie_milano = "Select * from scuole_secondarie_milano"
df_scuole_secondarie = pd.read_sql(query_scuole_secondarie_milano,mydb)
query_scuole_primarie_milano = "Select * from scuole_primarie_milano"
df_scuol_primarie = pd.read_sql(query_scuole_primarie_milano,mydb)
query_scuole_infanzia_milano = "Select * from scuole_infanzia_milano"
df_scuole_infanzia = pd.read_sql(query_scuole_infanzia_milano,mydb)
query_ospedali_milano = "select * from ospedali_milano"
df_ospedali_milano = pd.read_sql(query_ospedali_milano,mydb)
query_svago_milano = "select * from svago_milano"
df_svago_milano =  pd.read_sql(query_svago_milano,mydb)

mydb.close() #close the connection

c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\Mattia\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Cleaning and Prepping the data for the Clustering

### Hospital

In [ ]:
#Filtering to get only the data for Milan
df_ospedali_milano = df_ospedali_milano[df_ospedali_milano.LOCALITA == "MILANO"]
df_ospedali_milano

,ID,DENOM_STRUTTURA,INDIRIZZO,CAP,LOCALITA
5,6,OSPEDALE S. PAOLO - MILANO,VIA A. DI RUDINI' 8,20142,MILANO
16,17,ISTITUTO ORTOPEDICO GAETANO PINI - MILANO,PIAZZA A. CARDINAL FERRARI 1,20122,MILANO
19,20,OSPEDALE L. SACCO - MILANO,VIA GIOVAN BATTISTA GRASSI 74,20157,MILANO
24,25,FONDAZ.IRCCS CA' GRANDA - OSPEDALE MAGGIORE PO...,VIA FRANCESCO SFORZA 28,20122,MILANO
44,45,"""FOND.IRCCS """"ISTIT.NAZ.LE TUMORI""""MILANO""",VIA VENEZIAN 1,20133,MILANO
49,50,OSPEDALE FATEBENEFRATELLI E OFTALMICO - MILANO,PIAZZA PRINCIPESSA CLOTILDE 3,20121,MILANO
58,59,FOND.IRCCS IST.NAZ.NEUROLOGICO C.BESTA-MILANO,VIA CELORIA 11,20133,MILANO
64,65,OSPEDALE S. CARLO BORROMEO - MILANO,VIA PIO II 3,20153,MILANO
75,76,OSPEDALE CA' GRANDA-NIGUARDA - MILANO,PIAZZA OSPEDALE MAGGIORE 3,20162,MILANO
78,79,P.O. CENTRO TRAUMATOLOGICO ORTOPEDICO - MILANO,VIA BIGNAMI 1,20126,MILANO
83,84,PRESIDIO OSPED. V. BUZZI - MILANO,VIA CASTELVETRO 32,20154,MILANO
90,91,OSPEDALE M. MELLONI - MILANO,VIA MACEDONIO MELLONI 52,20129,MILANO

We need to add the lati and long to the data

In [ ]:
Ylocation = [45.434434224802374, 45.45502231363184, 45.519052444626695, 45.45899971302602, 
             45.474744262235824, 45.478247350543796, 45.47845013153815, 45.4695588314831, 
             45.51041400570228, 45.525862594524824, 45.491441001265905, 45.466274466033695]

Xlocation = [9.160272740334113, 9.19358879013831,  9.122691755211346, 9.1949594687018, 
             9.232133395688374, 9.190623211031243, 9.23031347608294, 9.11421265520928, 
             9.187337988230386, 9.214076602544718, 9.167446384259028, 9.219088797537811]

In [ ]:
df_ospedali_milano['Xlocation'] = Xlocation
df_ospedali_milano['Ylocation'] = Ylocation
df_ospedali_milano_mod = df_ospedali_milano.drop(['ID','LOCALITA', 'CAP', 'DENOM_STRUTTURA', 'INDIRIZZO'], axis=1)

Now we prep the data for the clustering

In [ ]:
df_ospedali_milano_mod['Type'] = 'Ospedale'

In [ ]:
df_ospedali_milano_mod

    Xlocation  Ylocation      Type
5    9.160273  45.434434  Ospedale
16   9.193589  45.455022  Ospedale
19   9.122692  45.519052  Ospedale
24   9.194959  45.459000  Ospedale
44   9.232133  45.474744  Ospedale
49   9.190623  45.478247  Ospedale
58   9.230313  45.478450  Ospedale
64   9.114213  45.469559  Ospedale
75   9.187338  45.510414  Ospedale
78   9.214077  45.525863  Ospedale
83   9.167446  45.491441  Ospedale
90   9.219089  45.466274  Ospedale

### Subway stations

In [ ]:
df_fermate_milano_mod = df_fermate_milano.drop(['id_amat','nome'], axis=1)

In [ ]:
df_fermate_milano_mod = df_fermate_milano_mod.rename(columns={'LONG_X_4326': 'Xlocation', 'LAT_Y_4326': 'Ylocation'})

In [ ]:
df_fermate_milano_mod['Type'] = 'Fermate_Metro'

### Railway Stations

In [ ]:
df_ferrovie_milano_mod = df_ferrovie_milano.drop(['null', 'Stazione', 'ID_NIL', 'NIL', 'Location'], axis=1)

In [ ]:
df_fermate_milano_mod = df_fermate_milano_mod.rename(columns={'LONG_X_4326': 'Xlocation', 'LAT_Y_4326': 'Ylocation'})

In [ ]:
df_fermate_milano_mod['Type'] = 'Ferrovie'

In [ ]:
df_fermate_milano_mod

            Xlocation         Ylocation      Type
0    9.15667532734003  45.4781401846813  Ferrovie
1     9.1926011078845  45.4926644010357  Ferrovie
2    9.15591440789603  45.4679501010405  Ferrovie
3    9.28598910784986  45.5157833010269  Ferrovie
4    9.22613020787426   45.517454501031  Ferrovie
..                ...               ...       ...
105  9.14553880789143  45.4017485010472  Ferrovie
106  9.15096930789879  45.4736789010404  Ferrovie
107   9.1682516078982  45.5216818010349  Ferrovie
108   9.1739799078948  45.5135543010351  Ferrovie
109  9.17732280788234  45.4299949010423  Ferrovie

[110 rows x 3 columns]

### Public Transport

In [ ]:
df_mezzi_urbani_mod = df_mezzi_urbani.drop(['null', 'linea', 'mezzo', 'percorso', 'Location'], axis = 1)

In [ ]:
df_mezzi_urbani_mod = df_mezzi_urbani_mod.rename(columns={'LONG_X_4326_CENTROID': 'Xlocation', 'LAT_Y_4326_CENTROID': 'Ylocation'})

In [ ]:
df_mezzi_urbani_mod['Type'] = df_mezzi_urbani['mezzo']

In [ ]:
df_mezzi_urbani_mod

            Xlocation         Ylocation  Type
0    9.16974100864076  45.4859750999689  TRAM
1    9.16941433348214  45.4863116993079  TRAM
2    9.17865796878257  45.4741964733908  TRAM
3    9.17849012195658  45.4739436104468  TRAM
4    9.17933222505233  45.4339331905281   BUS
..                ...               ...   ...
357  9.19091339157383  45.4375149721899   BUS
358  9.14760127811239   45.451687543387   BUS
359  9.14627481764211  45.4532172137094   BUS
360  9.20781459471915  45.4061784992761   BUS
361  9.20809744057435  45.4043410360122   BUS

[362 rows x 3 columns]

### Bikemi Stations(bike sharing)

In [ ]:
df_bikemi_mod = df_bikemi.drop(['null', 'numero', 'nome', 'Location'], axis=1)

In [ ]:
df_bikemi_mod = df_bikemi_mod.rename(columns={'LONG_X_4326': 'Xlocation', 'LAT_Y_4326': 'Ylocation'})

In [ ]:
df_bikemi_mod['Type'] = 'Bikemi'

In [ ]:
df_bikemi_mod

            Xlocation         Ylocation    Type
0    9.18914146264194  45.4647459734151  Bikemi
1    9.19725017347506  45.4662661365004  Bikemi
2    9.17566167305518  45.4680028649026  Bikemi
3    9.18197005904563  45.4722739800244  Bikemi
4    9.17641155359659  45.4631209673857  Bikemi
..                ...               ...     ...
320  9.18965117128139  45.4621624711804  Bikemi
321  9.12625514582878   45.489537319048  Bikemi
322  9.22443406233413  45.4626385742104  Bikemi
323   9.2185021802409  45.4646127148941  Bikemi
324  9.19938370562119  45.4554785482603  Bikemi

[325 rows x 3 columns]

### Bike Parcking

In [ ]:
df_sosta_bike_mod = df_sosta_bike.drop(['null', 'stalli_per_manufatto', 'Location'], axis=1)

In [ ]:
df_sosta_bike_mod = df_sosta_bike_mod.rename(columns={'LONG_X_4326': 'Xlocation', 'LAT_Y_4326': 'Ylocation'})

In [ ]:
df_sosta_bike_mod['Type'] = 'Sosta_Bike'

In [ ]:
df_sosta_bike_mod

             Xlocation         Ylocation        Type
0     9.17820648027966  45.4299105472126  Sosta_Bike
1     9.16829273293793  45.5169685144655  Sosta_Bike
2     9.08480114510265  45.4762825397617  Sosta_Bike
3      9.1567254420346  45.4822802973057  Sosta_Bike
4     9.12053839058196  45.4550596306546  Sosta_Bike
...                ...               ...         ...
1517  9.16585551645715  45.5052976774305  Sosta_Bike
1518  9.16627579235099  45.5058429724411  Sosta_Bike
1519  9.16634057331879  45.5056823689494  Sosta_Bike
1520  9.16632570760665  45.5053234134312  Sosta_Bike
1521  9.21894720624011  45.4335587022628  Sosta_Bike

[1522 rows x 3 columns]

### Public car parks

In [ ]:
df_parcheggi_pub_mod = df_parcheggi_pub.drop(['null', 'nome', 'n_posti', 'Location'], axis=1)

In [ ]:
df_parcheggi_pub_mod = df_parcheggi_pub_mod.rename(columns={'LONG_X_4326': 'Xlocation', 'LAT_Y_4326': 'Ylocation'})

In [ ]:
df_parcheggi_pub_mod['Type'] = 'Parcheggi_Pubblici'

In [ ]:
df_parcheggi_pub_mod