<a href="https://colab.research.google.com/github/EdoPassa/Data_Science_Project_ITS_TTF_2022-23/blob/main/Data%20Mining/dsProject/Data_Mining_Parigi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Wrangling

In [2]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.8/dist-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python) (3.19.6)

In [3]:
import mysql.connector as connection
import numpy as np
import pandas as pd

In [4]:
mydb = connection.connect(host='ttfprojectdb.cdjjwxlk5ujc.eu-central-1.rds.amazonaws.com',
                        database='database-data-science-project-its-ttf-2022-23',
                        user='edoardo',
                        password='PG8Io90EcKBVEg2iKLgi')

In [5]:
query_metro_parcheggi = "Select * from Acessi_metro_e_parcheggi_per_metro_parigi;"
df_metro_parcheggi = pd.read_sql(query_metro_parcheggi,mydb)

query_parcheggi_su_strada_e_diritti_di_passaggio_parigi = "select * from parcheggi_su_strada_e_diritti_di_passaggio_parigi"
df_parcheggi_su_strada_parigi = pd.read_sql(query_parcheggi_su_strada_e_diritti_di_passaggio_parigi,mydb)

query_piste_ciclabili_e_percorsi_degli_autobus_parigi = "select * from piste_ciclabili_e_percorsi_degli_autobus_parigi"
df_piste_cic_percorsi_autobus = pd.read_sql(query_piste_ciclabili_e_percorsi_degli_autobus_parigi,mydb)

query_scuole_elementari_parigi = "select * from scuole_elementari_parigi"
df_elementari_parigi = pd.read_sql(query_scuole_elementari_parigi,mydb)

query_scuole_materne_asili_parigi = "select * from scuole_materne_asili"
df_scuole_materne_asili_parigi = pd.read_sql(query_scuole_materne_asili_parigi,mydb)

query_strade_e_trasporti_parigi = "select * from strade_e_trasporti_parigi "
df_stra_trasporti_parigi = pd.read_sql(query_strade_e_trasporti_parigi,mydb)

query_stazioni_servizio_parigi = "select * from stazioni_servizio_veicoli_parigi"
df_staz_servizio_parigi = pd.read_sql(query_stazioni_servizio_parigi,mydb)

query_Taxi_parigi = "select * from Taxi_parigi"
df_taxi_parigi = pd.read_sql(query_Taxi_parigi,mydb)

query_terreni_costruibili_e_non_parigi = "select * from terreni_costruibili_e_non_costruibili_parigi"
df_terreni_parigi = pd.read_sql(query_terreni_costruibili_e_non_parigi,mydb)

### Prep the data for the clustering

#### parcheggi metro

In [6]:
df_metro_parcheggi_parigi_mod = df_metro_parcheggi['geo_point_2d'].str.split(',', expand=True)
df_metro_parcheggi_parigi_mod = df_metro_parcheggi_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_metro_parcheggi_parigi_mod['Type'] = 'Parcheggi metro'

#### parcheggi su strada

In [7]:
df_parcheggi_su_strada_parigi_mod = df_parcheggi_su_strada_parigi['geo_point_2d'].str.split(',', expand=True)
df_parcheggi_su_strada_parigi_mod = df_parcheggi_su_strada_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_parcheggi_su_strada_parigi_mod['Type'] = 'Parcheggi pubblici'

In [8]:
df_parcheggi_su_strada_parigi_mod

                Ylocation           Xlocation                Type
0      48.880812316279005   2.295395371621856  Parcheggi pubblici
1       48.83843975615369   2.262354304067086  Parcheggi pubblici
2      48.842839963092466  2.2629408705404503  Parcheggi pubblici
3       48.85672360876848  2.4116595498993307  Parcheggi pubblici
4      48.830840017932864  2.3063979507810113  Parcheggi pubblici
...                   ...                 ...                 ...
64409  48.865310717960945  2.3655804736447346  Parcheggi pubblici
64410   48.87496176213347   2.357123086654974  Parcheggi pubblici
64411  48.852990430258934   2.268503953180046  Parcheggi pubblici
64412   48.85914922094111   2.370130414933536  Parcheggi pubblici
64413   48.84758145856019  2.3033045425544016  Parcheggi pubblici

[64414 rows x 3 columns]

#### piste ciclabili e percorsi autobus

In [8]:
df_piste_cic_percorsi_autobus_mod = df_piste_cic_percorsi_autobus['geo_point_2d'].str.split(',', expand=True)
df_piste_cic_percorsi_autobus_mod = df_piste_cic_percorsi_autobus_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_piste_cic_percorsi_autobus_mod['Type'] = 'Piste ciclabili / Percorsi autobus'

#### scuole elementari

In [9]:
df_elementari_parigi_mod = df_elementari_parigi['geo_point_2d'].str.split(',', expand=True)
df_elementari_parigi_mod = df_elementari_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_elementari_parigi_mod['Type'] = 'Scuole elementari'

#### scuole materne

In [10]:
df_scuole_materne_asili_parig_mod = df_scuole_materne_asili_parigi['geo_point_2d'].str.split(',', expand=True)
df_scuole_materne_asili_parig_mod = df_scuole_materne_asili_parig_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_scuole_materne_asili_parig_mod['Type'] = 'Scuole materne e asili'

#### strade trasporti

In [11]:
df_stra_trasporti_parigi_mod = df_stra_trasporti_parigi['geo_point_2d'].str.split(',', expand=True)
df_stra_trasporti_parigi_mod = df_stra_trasporti_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_stra_trasporti_parigi_mod['Type'] = 'Strade trasporti'

#### stazioni servizio

In [12]:
df_staz_servizio_parigi_mod = df_staz_servizio_parigi['geo_point_2d'].str.split(',', expand=True)
df_staz_servizio_parigi_mod = df_staz_servizio_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_staz_servizio_parigi_mod['Type'] = 'Stazioni di servizio'

#### taxi

In [13]:
df_taxi_parigi_mod = df_taxi_parigi['geo_point_2d'].str.split(',', expand=True)
df_taxi_parigi_mod = df_taxi_parigi_mod.rename(columns={0: 'Ylocation', 1: 'Xlocation'})
df_taxi_parigi_mod['Type'] = 'Taxi'

#### terreni parigi

In [14]:
df_terreni_parigi_cnat = df_terreni_parigi.drop(['ID', 'OBJECTID', 'X','Y', 'geo_point_2d'], axis=1)
# Replace column value
df_terreni_parigi_cnat = df_terreni_parigi_cnat.replace(['B','N','I'],['Terreno costruito','Terreno non costruito','Terreno sconosciuto'])
df_terreni_parigi_cnat = df_terreni_parigi_cnat.rename(columns={'C_NAT': 'Type'})

In [15]:
df_terreni_parigi_geo = df_terreni_parigi['geo_point_2d'].str.split(',', expand=True)
df_terreni_parigi_geo = df_terreni_parigi_geo.rename(columns={0: 'Ylocation', 1: 'Xlocation'})

In [16]:
df_terreni_parigi_cnat.insert(0, 'ID', range(0, 0 + len(df_terreni_parigi_cnat)))
df_terreni_parigi_geo.insert(0, 'ID', range(0, 0 + len(df_terreni_parigi_geo)))

In [17]:
df_terreni_parigi_mod = pd.merge(df_terreni_parigi_geo,df_terreni_parigi_cnat)
df_terreni_parigi_mod = df_terreni_parigi_mod.drop(['ID'], axis=1)

### unisco i vari df in un unico dataframe

In [18]:
df_parigi = df_metro_parcheggi_parigi_mod.append(df_parcheggi_su_strada_parigi_mod)

In [19]:
df_parigi = df_parigi.append(df_piste_cic_percorsi_autobus_mod)

In [20]:
df_parigi = df_parigi.append(df_scuole_materne_asili_parig_mod)

In [21]:
df_parigi = df_parigi.append(df_elementari_parigi_mod)

In [22]:
df_parigi = df_parigi.append(df_stra_trasporti_parigi_mod)

In [23]:
df_parigi = df_parigi.append(df_staz_servizio_parigi_mod)

In [24]:
df_parigi = df_parigi.append(df_taxi_parigi_mod)

In [25]:
df_parigi = df_parigi.append(df_terreni_parigi_mod)

## Encoding

### Cambio tipo cordinate str-->float
#### ma prima controllo e elimino eventuali null

In [26]:
df_parigi.isna().sum()

Ylocation       0
Xlocation    1249
Type            0
dtype: int64

In [27]:
df_parigi = df_parigi.dropna()

In [28]:
df_parigi.isna().sum()

Ylocation    0
Xlocation    0
Type         0
dtype: int64

In [29]:
df_parigi['Xlocation'] = df_parigi['Xlocation'].astype(float)
df_parigi['Ylocation'] = df_parigi['Ylocation'].astype(float)

In [30]:
df_parigi = df_parigi[df_parigi.Xlocation != '']

In [31]:
df_parigi_encoded = pd.get_dummies(df_parigi, columns = ['Type'])
df_parigi_encoded

,Ylocation,Xlocation,Type_Parcheggi metro,Type_Parcheggi pubblici,Type_Piste ciclabili / Percorsi autobus,Type_Scuole elementari,Type_Scuole materne e asili,Type_Stazioni di servizio,Type_Strade trasporti,Type_Taxi,Type_Terreno costruito,Type_Terreno non costruito,Type_Terreno sconosciuto
0,48.828160,2.327310,1,0,0,0,0,0,0,0,0,0,0
1,48.826412,2.357024,1,0,0,0,0,0,0,0,0,0,0
2,48.847590,2.257893,1,0,0,0,0,0,0,0,0,0,0
3,48.881618,2.370279,1,0,0,0,0,0,0,0,0,0,0
4,48.851109,2.333279,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297021,48.862097,2.341861,0,0,0,0,0,0,0,0,1,0,0
297022,48.824964,2.356960,0,0,0,0,0,0,0,0,1,0,0
297023,48.847241,2.310358,0,0,0,0,0,0,0,0,1,0,0
297024,48.854507,2.355844,0,0,0,0,0,0,0,0,1,0,0
297025,48.857285,2.358080,0,0,0,0,0,0,0,0,1,0,0

# Data Modelling: Hierachical clustering

In [32]:
from sklearn.cluster import AgglomerativeClustering
from yellowbrick.cluster import KElbowVisualizer
import matplotlib.pyplot as plt
import seaborn as sns

## Elbow method to decide on the number of clusters

Dataset toppo grande, non gli bastano 8 GB di RAM

In [33]:
"""model = AgglomerativeClustering()
# k is range of number of clusters.
visualizer = KElbowVisualizer(model, k=(2,30), timings=False)
# Fit data to visualizer
visualizer.fit(df_parigi_encoded)
# Finalize and render figure
visualizer.show()"""

'model = AgglomerativeClustering()\n# k is range of number of clusters.\nvisualizer = KElbowVisualizer(model, k=(2,30), timings=False)\n# Fit data to visualizer\nvisualizer.fit(df_parigi_encoded)\n# Finalize and render figure\nvisualizer.show()'

## Making Prediction

In [ ]:
# Hierachical clustering model
hc = AgglomerativeClustering(n_clusters = 8)
# Fit and predict on the data
y_hc = hc.fit_predict(df_parigi_encoded)
# Save the predictions as a column
df_parigi['Cluster'] = y_hc
# Check the distribution
df_parigi['Cluster'].value_counts()